<div class="chooseWonder">
    <div class="sw-top-container">
        <div class="icon-section"></div>
        <div class="players-section">
            <div class="sw-players-container" ng-repeat="player in $ctrl.players">
                <player data="player" current="$ctrl.checkPlayer(player)" state="$ctrl.getState(player)" ng-click="$ctrl.clickPlayer(player)"></player>
            </div>
        </div>
        <div class="time-section"></div>
    </div>
    <div class="sw-center-container">
        <carousel-wonders wonders="$ctrl.wonders" move="$ctrl.rotate(action)" change="$ctrl.change(wonder)"></carousel-wonders>
    </div>
    <div class="sw-bottom-container">
        <button class="sw-button" ng-disabled="$ctrl.buttonDisable" ng-click="$ctrl.sendSelection()" type="submit">Ready</button>
    </div>
</div>
