    <div class = "box">
      <h1 class = "title">Create Game Room</h1>
      <form>
        <h3>Name Your Room</h3></br>
        <input type="text" ng-model="room" placeholder="name"></br>
        <h3>Number Of Players</h3></br>
        <div class="styled-select slate">
        <select ng-model="player">
          <option ng-repeat= "player in maxPlayers" value="{{player}}"
          >{{player}}
          </option>
        </select>
        </div>
      </form>
    </div>
    <button class="button" ng-click= "createRoomGame()">create</button>