
bower_components
node_modules
build
lib
index.html
.gradle
.idea
*.class
*.css

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
