@import "../style/global.less";

div.lobby-game-section {
    height: 100%;
    padding-top: 5%;
    text-align: center;
    width: 100%;
    & .box {
        box-sizing: border-box;
        display: inline-block;
        max-height: 600px;
        width: 900px;
      }
    & form.align-form {
        text-align: left;
      }
    & .sw-box-1 {
        margin: 0 20px 0;
        width: 30%;
        float: left; 
      }
    & .sw-box-2 {
        margin: 0 30px 0; 
        width: 20%; 
        float: left; 
      }
    & .sw-box-3 {
        margin-top: 25px;
        text-align: bottom;
        width: 20%; 
        float: right;
      }

    & label.label-form {
        display: block;
        margin: 0.5em 0 0;
      }

    & select.sw-players:required {
        background: @background_input;
        border-radius: 6px;
        border: 1px solid @color_component;
        color: @color_component;
        font-family: @font_family;
        font-size: 1.2rem;
        padding: 7px 20px;
        width: 230px;
        & required:focus {
          border: 1px solid white;
          outline: none;
          font-color: @color_component;
        }
        &:hover {
          border: 1px solid white;
        }
        & option.number-option {
          background-color: black;
          color: @color_component;
        }
      }

    & table.sw-table {
        border-width: 2px;
        color: @color_letters;
        height: auto;
        margin: 2px;
        width: 100%;
          & td, & th {
            border-bottom: 2px solid white;
            height: 50px;
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
      }

    & tr.background {
        background: @background_button;
      }

    & .scroll-table {
        display: inline-block;
        height: 448px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
          &::-webkit-scrollbar {
            width: 15px;
            border-radius: 6px;
            border: 1px solid @color_component;
          }
          &::-webkit-scrollbar-track {
            background: @background_input;
            border: 1px solid white;
            border-radius: 6px;
          }
          &::-webkit-scrollbar-thumb {
            background: @background_button;
            border-radius: 6px;
          }
      }
    
    & .column-name, & .column-owner {
        width: 35%;
      }

    & .column-player, & .column-join {
        width: 15%;
      }

    & .box-message {
        float: left;
        height: 100%;
        width: 100%;
        margin: 20px;
      }  

    & .img-message {
        background-size: cover;
        height: 200px;
        margin-left: 330px;
        position: relative;
        width: 200px;
      }

    & label.message {
        font-size: 24px;
        left: 550px;
        margin-top: 100px;
        position: absolute;
      }

    & .separator {
        width: 865px;
        position: absolute;
        margin-top: 95px;
    }
  }
