<div class="logo">
</div>
<div class="joinformleft">
    <div class="form">
        <h1>{{gameroom.name}}</h1>
        <div>
            <h2>Create Game</h2>
            <input ng-model="gameroom.name"></input>
            <input ng-model="gameroom.players"></input>
            <button class="submit" type="submit" id="submit-Create" ng-click="$ctrl.createGame(gameroom)">Create Game</button>

        </div>
    </div>
</div>

<div class="joinformrigth">
    <div class="join-list">
        <form>
            <h2>Join Game</h2>
            <h3> Opened Rooms: </h3>
            <ul>
                <li ng-repeat="game in $ctrl.games"><a ng-click="$ctrl.joinGame(game)">{{game.name}}</a> </li>
            </ul>
        </form>
    </div>
</div>