<div class="sw-logo"></div>
<div class="create-game-section sw-box box" ng-controller="createGameRoomCtrl">
    <h1 class="sw-title">{{user}}'s Game Room </h1>
    <form class="create">
        <h2 class="sw-title">Name Your Room</h2>
        <input type="text" class="sw-input" ng-model="room" placeholder="name" required>
        <h2 class="sw-title">Number Of Players</h2>
        <div>
            <select class="sw-players" ng-model="player">
                <option ng-repeat="player in maxPlayers" value="{{player}}">{{player}}
                </option>
            </select>
        </div>
        </br>
        <button class="sw-button" ui-sref="game-room" ng-disabled="create.$invalid" ng-click="createRoomGame()">create
        </button>
    </form>
</div>
