<div class="gameboard">
    <div class="resources">
        <figure class="resource-type" ng-repeat="resource in $ctrl.storage">
            <figcaption class="count" ng-if="resource.name !== 'victoryPoint'">
                <img src="{{'resources/images/icons/'+ resource.name + '.png'}}">{{resource.count}}
            </figcaption>
            <figcaption class="count-point" ng-if="resource.name == 'victoryPoint'">
                <img class="victoryPoint" src="{{'resources/images/icons/'+ resource.name + '.png'}}">{{resource.count}}
            </figcaption>
        </figure>
    </div>
    <div class="table">
        <div class="deck-cards">
            <ul class="brown" reversed>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/5.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/61.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
            </ul>
            <ul class="brown">
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/40.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
            </ul>
            <ul class="brown">
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/50.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
            </ul>
            <ol class="brown" reversed>
                <li><a><img class="image-card" src="/resources/images/cards/1.jpg"/></a></li>
                <li><a><img class="image-card" src="/resources/images/cards/50.jpg"/></a></li>
            </ol>
        </div>
        <div class="stages">
            <div class="sw-stage">
                <div class="sw-requirement">
                    <figure class="sw-resource">
                        <img class="image-resource" src="/resources/images/icons/paper.png"/>
                        <img class="image-resource" src="/resources/images/icons/paper.png"/>
                        <img class="image-resource" src="/resources/images/icons/paper.png"/>
                    </figure>
                </div>
                <figure class="sw-effect">
                    <img class="image-effect" src="/resources/images/effect/resource-8.png"/>
                </figure>
            </div>
            <div class="sw-stage">
                <div class="sw-requirement">
                    <figure class="sw-resource">
                        <img class="image-resource" src="/resources/images/icons/paper.png"/>
                        <img class="image-resource" src="/resources/images/icons/paper.png"/>
                        <img class="image-resource" src="/resources/images/icons/paper.png"/>
                    </figure>
                </div>
                <figure class="sw-effect">
                    <img class="image-effect" src="/resources/images/effect/resource-8.png"/>
                </figure>
            </div>
            <div class="sw-stage">
                <div class="sw-requirement">
                    <figure class="sw-resource">
                        <img class="image-resource" src="/resources/images/icons/glass.png"/>
                        <img class="image-resource" src="/resources/images/icons/glass.png"/>
                        <img class="image-resource" src="/resources/images/icons/glass.png"/>
                    </figure>
                </div>
                <figure class="sw-effect">
                    <img class="image-effect" src="/resources/images/effect/resource-5.png"/>
                </figure>
            </div>
	    </div>
    </div>
	<aside class="neighbor-right">
		<neighbor side="$ctrl.nearestNeighbors.right"> </neighbor>
	</aside>
	<aside class="neighbor-left">
		<neighbor side="$ctrl.nearestNeighbors.left"> </neighbor>
	</aside>
	<div class="playcard">
	</div>
</div>