@import "../style/global.less";

@height_neighbor:380px;
@width_neighbor:2%;
@card-width: 100px;
@margin-adjustment: 10px;
@reset: 0;
@cards-area: 50%;
@actions-area: 100% - @cards-area;

.cardPosition (@deg, @x, @y) {
    -webkit-transform: rotate(@deg) translate(@x, @y);
    -moz-transform: rotate(@deg) translate(@x, @y);
    -o-transform: rotate(@deg) translate(@x, @y);
    -ms-transform: rotate(@deg) translate(@x, @y);
    transform: rotate(@deg) translate(@x, @y)
}


.cardHover (@y, @seg){
    -webkit-transform: translateY(@y);
    -moz-transform: translateY(@y);
    -o-transform: translateY(@y);
    -ms-transform: translateY(@y);
    transform: translateY(@y);
    -webkit-transition-duration: @seg;
    -moz-transition-duration: @seg;
    -o-transition-duration: @seg;
    -ms-transition-duration: @seg;
    transition-duration: @seg;
}

div.gameboard {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
    height: 100%;
    >* {
        flex: 1 100%;
        }
    & .resources {
        height: 40px;
        background: #717171;
        min-width:600px;
        display:flex;
        align-items: center;
        text-align: center;
          & figure.resource-type {
               margin: 0.3em 0.8em 0 0.7em;
               display: inline-block;
               & figcaption.count {
                     display: flex;
                     color: white;
                     font-weight: bold;
                     font-size: 1.1em;
                     align-items: center;
                     & img {
                       margin: 0 0.2em 0 0.2em;
                       height: 30px;
                       width: 30px;
                       height: 30px;
                       box-sizing: border-box;
                       display: block;
                     }
                }
                & figcaption.count-point {
                      color: white;
                      font-weight: bold;
                      font-size: 1.4em;
                      align-items: center;
                      position: relative;
                      margin: 0 1.2em 0 1.2em;
                    & img.victoryPoint {
                       height: 70px;
                       width: 70px;
                       float: left;
                       position: absolute;
                       left: -23px;
                       top: -18px;
                    }
                }
          }
    }

    & .playcard {
        border-top: 20px solid;
        border-color: rgba(0,0,0,0.1);
        position: absolute;
        width: 100%;
        height: 35%;
        background-image: url('../resources/images/bkgd-gris.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        & .cards {
            width: @cards-area;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;

            overflow: hidden;

            & .deck {
                display: flex;
                flex-direction: row;
                .cardPosition(-0deg, 0px, 20px);
            }

            & .card {
                margin: @reset;
                padding: @reset;
                width: @card-width;
                margin-right: @margin-adjustment;
            }

            & .card:hover{
                .cardHover(-30px, 600ms);
                z-index: 100;
            }

            & .card-1{
                .cardPosition(-15deg, 25px, 45px);
            }

            & .card-2{
                .cardPosition(-10deg, 20px, 20px);
            }

            & .card-3{
                .cardPosition(-5deg, 10px, 5px);
            }

            & .card-5{
                .cardPosition(5deg, -10px, 5px);
            }

            & .card-6{
                .cardPosition(10deg, -20px, 20px);
            }

            & .card-7{
                .cardPosition(15deg, -25px, 45px);
            }

            & .card img{
               width: @card-width;
            }
        }

        & .actions{
            width: @actions-area;
        }
    }

    & .table {
        text-align: center;
        height: 380px;
        & .deck-cards {
            height: 250px;
            width: 100%;
            position: relative;
            z-index: 30;
            display: flex;
            justify-content: center;
             & .type-card {
                  padding: 0;
                  list-style-type: none;
                  height: 180px;
                  margin: 8px 0 0 8px;
                  & li > a {
                      height: 30px;
                      width: 100px;
                      float: left;
                      overflow: hidden;
                       & img{
                        height: 150px;
                        width: 100px;
                       }
                       &:hover {
                          box-sizing: border-box;
                          display: block;
                          height: 145px;
                       }
                  }
                  & li:nth-of-type(1n+7) {
                       display: none;
                  }

             }
             & label.count-cards {
                font-weight: bold;
                color: white;
                font-size: 1.4em;
                margin-top: 21px;
                display: block;
             }
        }
        & .stages {
            width: 100%;
            z-index: 1;
            & .sw-stage {
                display: inline-block;
                height: 90px;
                width: 165px;
                margin: 0 7px 0 7px;
                background-color : @color_component;
                border-radius: 12px;
                position: relative;

              & figure.sw-effect {
                    width: 125px;
                    height: 70px;
                    margin: 10px 5px 5px 35px;
                    position: absolute;
                    z-index: 19;
                    & img.image-effect {
                        box-sizing: border-box;
                        display: block;
                        height: 100%;
                        width:100%;
                    }
                }

                & figcaption.effect-point {
                       font-weight: bold;
                       font-size: 1.5em;
                       position: relative;
                       top: 15px;
                     & img.victory-effect {
                        height: 70px;
                        width: 70px;
                        position: absolute;
                        left: 27px;
                        top: -15px;
                     }
                 }
                & .sw-requirement {
                    width: 15px;
                    height: 80px;
                    margin: 10px 2px 0 10px;
                    background: #f9f3dd;
                    position: absolute;
                    z-index: 10;
                    & figure.sw-resource {
                        & img.image-resource {
                             height: 100%;
                             width: 100%;
                        }
                    }
                    & .size-items-big {
                        margin: -5px 0 8px -5px;
                        width: 25px;
                        height: 25px;
                    }
                    & .size-items-small {
                        margin: -8px 0 9px -3px;
                        width: 21px;
                        height: 21px;
                    }

                    & figure.resource-tiny {
                         margin: -5px 0 0 -5px;
                         width: 15px;
                         height: 15px;
                    }
                }
            }
        }
    }

    & .neighbor-right {
        height: @height_neighbor;
        width: @width_neighbor;
    }

    & .neighbor-left {
        height: @height_neighbor;
        width: @width_neighbor;
    }

    @media all and (min-width:600px) {
        aside.neighbor-left, aside.neighbor-right {
            flex: 1 auto;
        }
    }

    @media all and (min-width:600px) {
        .table {
            flex: 3 0px;
            order: 2;
        }
        .neighbor-left {
            order: 1;
        }
        .neighbor-right {
            order: 3;
        }
        .playcard {
            order: 4;
        }
    }
}