div.gameboard {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
    height: 100%;
    >* {
        flex: 1 100%;
        }
    & .resources {
        height: 40px;
        background: #717171;
        min-width:600px;
        display:flex;
        align-items: center;
        text-align: center;
          & figure.resource-type {
               margin: 0 0.8em 0 0.7em;
               text-align: center;
               & figcaption.count {
                     display: flex;
                     color: white;
                     font-weight: bold;
                     font-size: 1.1em;
                     align-items: center;
                     & img {
                       margin: 0 0.2em 0 0.2em;
                       height: 30px;
                       width: 30px;
                     }
                }
                & figcaption.count-point {
                      color: white;
                      font-weight: bold;
                      font-size: 1.4em;
                      align-items: center;
                      position: relative;
                      margin: 0 1.2em 0 1.2em;
                    & img.victoryPoint {
                       height: 80px;
                       width: 80px;
                       float: left;
                       position: absolute;
                       left: -27px;
                       top: -13px;
                    }
                }
          }
    }

    & .playcard {
        border: 2px solid green;
        height: 208px;
        max-height: 300px;
    }

    & .table {
        text-align: left;
        border: 2px solid gold;
        height: 320px;
    }

    & .neighbor-right {
        border: 2px solid pink;
        height: 320px;
    }

    & .neighbor-left {
        border: 2px solid pink;
        height: 320px;
    }

    @media all and (min-width:600px) {
        aside.neighbor-left, aside.neighbor-right {
            flex: 1 auto;
        }
    }

    @media all and (min-width:600px) {
        .table {
            flex: 3 0px;
            order: 2;
        }
        .neighbor-left {
            order: 1;
        }
        .neighbor-right {
            order: 3;
        }
        .playcard {
            order: 4;
        }
    }
}