div.neighbor-directive {
       height: 90%;
       width: 99%;
       display: flex;
       position: relative;
       top: 50%;
       transform: translateY(-50%);
       margin: auto;
       background-color: #C9C9C9;
       background-blend-mode: multiply;
       background-position: top center;
       background-repeat: no-repeat;
       background-size: 170% 130%;
       border-radius: 7px;
       box-shadow: 0 0 10px 5px white;
       & section.resources-container {
           width: 20%;
           height: 100%;
           display: flex;
           flex-direction: column;
           background-color: rgba(113, 113, 113, 0.7);
           & figure.resource-type {
               margin: auto;
                & figcaption.count {
                     display: flex;
                     color: white;
                     font-weight: bold;
                     font-size: 0.9em;
                     & img {
                       margin: 0 0.2em 0 0.2em;
                       height: 30px;
                       width: 30px;
                     }
                }
          }
       };
       & div.special-container {
           display: flex;
           flex-direction: column;
           width: 54%;
           height: 100%;
           & section.victory-points {
               display: flex;
               width: 100%;
               height: 20%;
               & figure.resource-type {
                    margin: 0 0.8em 0 0.7em;
                    text-align: center;
                    margin: auto;
                    & figcaption.count-point {
                      color: white;
                      font-weight: bold;
                      font-size: 1.4em;
                      align-items: center;
                      position: relative;
                    & img.victoryPoint {
                       height: 60px;
                       width: 60px;
                       position: absolute;
                       margin: -15px;
                       z-index: -1;
                    }
                  }
                }
              };
           & div.card-play-container  {
               display: flex;
               width: 100%;
               height: 60%;
           };
           & section.attack-points {
               display: flex;
               width: 100%;
               height: 20%;
               & figure.resource-type {
                    margin: 0 0.8em 0 0.7em;
                    text-align: center;
                    margin: auto;
                    & figcaption.count-point {
                      color: black;
                      font-weight: bold;
                      font-size: 1.4em;
                      align-items:
                       center;
                      position: relative;
                    & img.attack-point {
                       height: 60px;
                       width: 60px;
                       position: absolute;
                       margin: -21px;
                       z-index: -1;
                    }
                  }
                }
          }
       };
       & section.effects-container {
           width: 26%;
           height: 100%;
           display: flex;
           flex-direction: column;
           background-color: rgba(113, 113, 113, 0.7);
           & figure.effect-type {
               margin: auto;
                & figcaption.count {
                     display: flex;
                     color: white;
                     font-weight: bold;
                     font-size: 0.9em;
                     & img {
                       margin: 0 0.2em 0 0.2em;
                       height: 32px;
                       width: 64px;
                     }
                }
          }
       };
   }
