<div class="neighbor-directive" ng-style="{'background-image':'url(resources/images/wonders/Babylon-b.png)'}" >
	<div class="resources-container">
		<figure class="resource-type" ng-repeat="resource in resources">
			<figcaption class="count">
				<img src="{{'resources/images/icons/'+ resource.name + '.png'}}">{{resource.count}}
			</figcaption>
		</figure>
	</div>
	<div class="effects-container">
		<figure class="effect-type" ng-repeat="resource in effects">
			<figcaption class="count">
				<img src="{{'resources/images/icons/'+ resource.name + '.png'}}">{{resource.count}}
			</figcaption>
		</figure>
	</div>
</div>