<div class="neighbor-directive" style="background-image:url(resources/images/wonders/{{side.city.cityName}}-a.png)">
	<div class="resources-container">
		<figure class="resource-type" ng-repeat="resource in side.city.resources">
			<figcaption class="count">
				<img src="{{'resources/images/icons/'+ resource.name + '.png'}}">{{resource.count}}
			</figcaption>
		</figure>
	</div>
	<div class="effects-container">
		<figure class="effect-type" ng-repeat="resource in side.city.effects">
			<figcaption class="count">
				<img src="{{'resources/images/icons/'+ resource.name + '.png'}}">{{resource.count}}
			</figcaption>
		</figure>
	</div>
</div>