<div class="sw-choose-wonder-directive">
    <div class="body">
        <div class="first-part">
            <img ng-src="{{'resources/images/' + wonder.effects[0].name + '.png'}}">
        </div>
        <div class="second-part">
            <div class="tittle">{{wonder.name}}</div>
            <div class="wonder">
                <img src="{{'resources/images/' + wonder.name + '.png'}}">
            </div>
            <div class="stages">
                <sw-stage stage="stage" ng-repeat="stage in wonder.sides[count].stages"></sw-stage>
            </div>
            <div class="description">
                {{wonder.description}}
            </div>
        </div>
    </div>
    <div class="footer">
        <div ng-repeat="side in wonder.sides">
            <button ng-click="setCount(wonder.sides.indexOf(side))">
                {{side.type}}
            </button>
        </div>
         <button class="ok-bttn">Accept</button>

    </div>

</div>