@import "../style/global.less";

.div.login {
  text-align: center;
  display: block;
  .top-image{
    display: block;
    width: 100%;
  }
  .form {
    display: block;
    width: 100%;
    .sw-box{
      width: 370px;
      margin: 0 auto;  
    }
  }
}