body {
    height: 100%;
    width: 100%;
    background: url('/resources/images/index3.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-1 {
    text-align: center;
    height: 80%;
    width: 70%;
    top: 10%;
    left: 15%;
    position: absolute;
    color: white;
}
.container {
    margin: 1% 5% 5%;
    height: 70%; /* Or whatever */
    width: 90%;
    position: absolute;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;
}
.child {
    width: 40%;  /* Or whatever */
    height: 15%; /* Or whatever */
    margin: auto;  /* Magic! */
    border: 1px solid white;
    background-color: black;
    opacity: 0.6;
    border-radius: 5px;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.child img {
    position: relative;
    left: 10%;
    top: 25%;
    float: left;
    width: 15%;
    height: 50%;
    border-radius: 25px;
}
.child p {
    position: relative;
    top: 35%;
}
.logo {
    background: url('/resources/images/3.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 11%;
    height: 8%;
    left:2%; 
    top:2%;
}
.wrapper {
    background-size: 100% auto;
}

